<div class="embedded-content">
        <h2>{{ __("text 13 header in the embed template, this should be scanned only if the file containing it is.") }}</h2>
        {% block main %}
        {% endblock %}
</div>